BasedOnStyle: llvm
SortIncludes: true
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: DontAlign
SpaceAfterCStyleCast: false
AlignTrailingComments: true
IndentCaseLabels: true
IndentWidth: 4
ColumnLimit: 0
